<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cloud Computing HM1</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/forms.css">
    </head>
    <body>
        <div class="content">
            <div class="msform flex-horizontal flex-vertical">
                <div class="flex flex-center">
                    <button type = "button" class="ghost-button" onclick="randomWordAPI();">Random Word API</button>
                    <button type = "button" class="ghost-button" onclick="randomNumberAPI();">Random Number API</button>
                    <button type = "button" class="ghost-button" onclick="randomFragmentAPI();">Random Fragment API</button>
                    <button type = "button" class="ghost-button" onclick="threeRandomAPIs();">All 3 APIs</button>
                    <div><span id="api-result"></span></div>
                </div>


            </div>
        </div>
        <script src="js/index.js" charset="utf-8"></script>
    </body>
</html>
