<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cloud Computing HM1</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/forms.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    </head>
    <body>
        <div class="content">
            <div class="msform flex-vertical flex-horizontal">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>API Name</th>
                        <th>Method</th>
                        <th>Response</th>
                        <th>Response Time (ms)</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0, len = APIResults.length; i < len; i++) { %>
                        <tr id="api-result">
                            <td>
                                <%= APIResults[i].API %>
                            </td>
                            <td>
                                <%= APIResults[i].method %>
                            </td>
                            <td>
                                <%= APIResults[i].response %>
                            </td>
                            <td>
                                <%= APIResults[i]["response-time"] %>
                            </td>
                            <td>
                                <%= APIResults[i].date %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#example').DataTable();
            } );
        </script>
        </body>
</html>
