.msform
{
    position: relative;
    margin: 0.5em 0em;
    width: 100%;
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 2em;
    background-color:#fff;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.msform-big
{
    animation: expand 0.25s forwards;
}

.msform-big div
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #27AE60;
    mask: url(../res/checkmark.svg) no-repeat center;
    mask-size: cover;
    width: 7.5em;
    height: 7.5em;
}

.msform-big-closing
{
    animation: disappear 0.25s forwards;
}

.msform-fixed 
{
    background: #000;
    margin: 0 !important;
    position: fixed;
    z-index: 10000;
    padding: 0em;
}

.msform-big video
{
    width: 100%;
    height: 100%;
}

.msform h1
{
    margin: 0 0 0.3em 0;
}

.msform h2
{
    margin: 1em 0 0.3em 0;
}

.msform form input
{
    width: 100%;
    margin: 0.5em 0;
    padding: 0.4em 0;
}

.msform form input:focus {
    outline: none;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.msform form a
{
    color: #666;
    text-decoration: none;
}

.msform form .msform-button
{
    background-color: rgba(173,209,158, 0.92);
    border: 0;
    margin-top: 1em;
    padding: 1em;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;
}


.msform form .msform-button:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.msform .links a,
.msform .links span
{
    color: #666;
    text-decoration: none;
}

.msform a,
.msform p,
.msform li
{
    color: #666;
    text-decoration: none;
}

.msform .picker 
{
    position: relative;
}

.msform .picker a
{
    display: block;
    width: 100%;
    padding: 1em 0em;
}

.msform .table
{
    overflow-x: auto;
    width: 100%;
}

.msform table 
{
    width: 100%;
}

.msform table tr:first-of-type
{
    font-weight: bold;
}

.msform table tr
{
    background: #fcfcfc;
}

.msform table tr:nth-child(2n+1)
{
    background: #e5e5e5;
}

.msform table tr td
{
    padding: 1em;
}

.msform table tr button {
    font-size: inherit;
    background: #c67d75;
    border: 0;
    padding: 1em;
    width: 100%;
}

.msform .mask
{    
    background-color: #666;
    mask: url(../res/person.svg) no-repeat center;
    -webkit-mask: url(../res/person.svg) no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 10em;
    height: 10em;
}

@keyframes expand
{
    0%
    {
        opacity: 0;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    100%
    {
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes disappear
{
    0%
    {
        opacity: 1;
        left: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    100%
    {
        opacity: 0;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
}

.fadeIn{
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadeOut{
    -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 1s; /* Firefox < 16 */
        -ms-animation: fadeout 1s; /* Internet Explorer */
         -o-animation: fadeout 1s; /* Opera < 12.1 */
            animation: fadeout 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


.hide {
    opacity: 0;
    display: none;
}

.ghost-button {
    color: rgba(173,209,158, 0.92);
    background: #fff;
    border: 1px solid rgba(173,209,158, 0.92);
    font-size: 12px;
    padding: 5px 7px;
    font-weight: normal;
    margin: 6px 0px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 100px;
}

.ghost-button:nth-child(2n) {
    float: right;
}

.ghost-button:hover, .ghost-button:active {
    color:#fff;
    background:rgba(173,209,158, 0.92);
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.flex-center
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.dropdown 
{
    margin: 0px auto;
    margin-bottom: 100px;
    position: relative;
    width: calc(100% - 40px);
    max-width: 200px;
    display: inline-block;
}
  
.dropdown label 
{
    display: block;
    padding: 8px 16px;
    background: rgba(173,209,158, 0.92);
    color: #FAFAFA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
  
.dropdown ul 
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    width: 100%;
}
  
.dropdown ul li 
{   
    margin: 0px;
    padding: 0px 16px;
    background: #FAFAFA;
    color: #343838;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    height: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.1s linear 0s;
}

.dropdown ul li:hover,
.dropdown ul li.selected 
{
    background: #00B4CC;
    color: #FAFAFA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
  
.dropdown:hover ul li 
{
    padding: 8px 16px;
    height: 34px;
}

@media screen and (max-width: 1030px) 
{
    .dropdown label
    {
        font-size: 10px;
    }

    .dropdown li
    {
        font-size: 10px;
    }
}

@media screen and (max-width: 860px) 
{
    .dropdown label
    {
        padding: 8px 8px;
    }

    .dropdown li
    {
        padding: 0px 8px;
    }
    
    .dropdown
    {
        margin-bottom: 50px auto;
    }
}

.full-width
{
    width: 100%;
}

.mapDialog 
{
    background: #fff;
    padding: 1em;
}

.msform select,
.mapDialog select
{
    background: #fff;
    padding: 0.5em;
    margin-bottom: 0.2em;
    width: 100%;
    border: 0;
}

.mapDialog button
{
    font-size: inherit;
    background: #c67d75;
    border: 0;
    width: 100%;
}

.mapDialog .id
{
    display: none;
}

.mapDialog div:first-child span {
    font-size: 1.5em;
    font-weight: bolder;
    
}

.mapDialog div span:nth-child(2)
{
    font-weight: bolder;
}

.content{
    grid-template-columns:100%;
    margin-right:16px;
    margin-left:16px;
}