@import url(https://fonts.googleapis.com/css?family=Montserrat);
*
{
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    height: 100%;
    background-color:#FAFAFA;
}

.content
{
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: calc(100% - 86px);
    margin: 0 0 0px;
}

.ghost-button{
    cursor:pointer;
}

.logo{
    cursor:default;
}

.logo span
{
    letter-spacing: -0.1em;
    font-weight: bolder;
    font-size: 4em;
    color: rgba(173,209,158, 0.92);
}

.logo span:not(:first-child)
{
    font-size: 2em;
}

.card {
    background: #fff;
    border-radius: 2px;
    height: 300px;
    margin: 1rem;
    width: 300px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.left
{
    padding: 0.75em 0.5em 0.75em 1em;
    background-color:#FAFAFA;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.flex
{
    display: flex;
    flex-direction: column;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-vertical
{
    justify-content: center;
}

.flex-horizontal
{
    align-items: center;
}

#right
{
    display: flex;
    align-content: center; 
    position: relative;
    height: 100vh;
    grid-column: 2;
    overflow: hidden;
}


.right 
{
    padding: 0.75em 1em 0.75em 0.5em;
    background-color:#FAFAFA;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#map
{
    height: 20em;
}

#largeMap
{
    height: 75vh;
}

.tilt
{
    z-index: 1000;
    position: absolute;
    height: 1000px;
    width: 1000px;
    transform: translate(-90%, 5%) rotate(-10deg);
    background: #FAFAFA;
}

.copyright-text{
    color:#9b9b9b;
    font-size: medium;
    position: relative;
}

.input-text 
{
     border: 0;
     border-bottom: 1px solid #acacac;
     padding-bottom: 5px;
}

.input-text:focus {
    outline: none;
}

.ol-zoom,
.ol-attribution
{
    display: none;
}

@media screen and (max-width: 1000px) {
    .content
    {
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 600px) {
    .logo span
    {
        font-size: 4em;
    }

    .logo span:not(:first-child)
    {
        font-size: 2em;
    }

    .left
    {
        padding: 0;
        grid-column: span 2;
    }

    .msform
    {
        width: 95%;
        padding: 1em;
    }

    .left .msform .links
    {
        display: block;
    }

    .left .msform .links a
    {
        display: block;
        width: 100%;
    }

    .hideRight,
    .copyright
    {
        display: none !important;
    }

    .right
    {
        padding: 0;
        grid-column: span 2;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px), screen and (max-width: 800px) and (min-width: 600px), screen and (max-width: 300px)
{
    .ghost-button 
    {
        width: 100%;
    }
    
    .ghost-button:last-child:not(:only-child)
    {
        float: none;
    }
}

@media screen and (max-height: 650px) {
    .left .msform h1
    {
        margin: 0;
    }

    .msform
    {
        font-size: 0.60em;
    }

    .msform form .msform-button
    {
        padding: 0.7em;
    }

    .logo span
    {
        font-size: 3em;
    }

    .logo span:last-of-type
    {
        font-size: 1.5em;
    }
}
